<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>Login-page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen flex items-center justify-center bg-white font-sans">

    <div class="w-[600px] bg-white p-[50px] rounded-[10px] text-center shadow-lg">
        <img src="https://cdn.sayun.studio/boottent/files/camps/top/header_38f78858-ebd2-465f-b0ef-ec49175c603a.png"
            alt="로고" class="w-[500px] mx-auto mb-[20px]" />

        <form class="login-form">
        <input type="text" id="user-id" placeholder="아이디 입력"
                class="w-full border-b border-[#333] py-[20px] my-[20px] text-[20px] outline-none" />

        <input type="password" id="user-password" placeholder="비밀번호 입력"
                class="w-full border-b border-[#333] py-[20px] my-[20px] mb-12 text-[20px] outline-none" />

        <a href="/signup"
            class="block text-right text-[22px] text-black mb-12">
            <span class="hover:underline">회원가입</span>
        </a>

        <button type="button" onclick="loginSuccess()"
                class="w-full py-[15px] bg-[#00c896] text-white text-[20px] font-bold rounded">
            로그인
        </button>
        </form>
    </div>
    <script src="../static/js/join.js"></script>
    </body>
</html>
