<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Reward-page</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body>
    <div class="flex flex-col gap-20">
    <div class="flex items-center">
        <i class="fa-solid fa-crown fa-2xl text-8xl mr-20"  style="color: #74C0FC;"></i>
        <div class="flex flex-col items-center">
            <h4>{{ rewards[0].appRound }}회 당첨자</h4>
            <h4>{{ rewards[0].appUser }}님</h4>
            <h4>당첨 금액 : {{ rewards[0].appPrice }}</h4>

            <div id="past_record" class="hidden flex flex-col gap-5 text-2xl mt-10">
                <ul>
                    {% for user in appList %}
                    <li>
                        {{ user.appPrice }}  ->  {{ user.appDate[:10] }} {{ user.appDate[11:16]}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
    </div>

    <button id="join-btn"
        onclick="location.href='{{ url_for('main') }}'",
        class="bg-[#00c896] text-white px-5 py-5 cursor-pointer rounded mt-10">
        돌아가기
      </button>
    </div>
</body>
</html>
